@import 'settings/all';

.section {
	position: relative;
	z-index: 2;
	padding: microbe-rem(30) 0;

	&--white {
		background-color: $background-surface;
	}

	&__decor {
		width: 17.5rem;
		height: 10rem;
		display: block;
		margin: 0 auto;
	}
}
